<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/{{cssFile}}">
    <link rel="shortcut icon" href="images/favicon.gif" type="image/gif">
    <title>chronodove ∴ {{ title }}</title>
</head> 
<body>
    <div class="wrapper">
        <div class="container">
            <div class="left">
                <div id="icon">
                    <img src="/images/icon.jpg" alt="a white betta fish">
                </div>
                <div id="text">
                    <i><h2>chronodove</h2></i>
                    <span><b style="text-decoration: underline;">views:</b> <span id="hitcount"></span></span>
                    <br>
                    <span><b style="text-decoration: underline;">updated:</b> <span id="lastupdate"></span></span>
                    <br>
                    <span><b style="text-decoration: underline;">created:</b> <span id="created"></span></span>
                </div>
                <div id="widgets">
                    <span id="time"></span>
                    <span id="weather-and-temp"></span>
                </div>
                <div id="nav">
                    <a href="/"><h3>home</h3></a>
                    <hr style="margin: 0 !important;">
                    <h2>writing:</h2>
                        <a href="/about/"><h3>about</h3></a>
                        <a href="/diary/"><h3>diary</h3></a>
                        <a href="/dreams/"><h3>dream log</h3></a>
                        <a href="/monthlyfavs/"><h3>monthly favs</h3></a>
                        <a href="/writing/"><h3>writing</h3></a>
                    <hr style="margin: 0 !important;">
                    <h2>hobbies:</h2>
                        <a href="/baking/"><h3>baking</h3></a>
                        <a href="/cooking/"><h3>cooking</h3></a>
                        <a href="/crochet/"><h3>crochet</h3></a>
                        <a href="/photography/"><h3>photography</h3></a>
                        <a href="/perfume/"><h3>perfume</h3></a>
                    <hr style="margin: 0 !important;">
                    <h2>extra:</h2>
                        <a href="/credits/"><h3>credits</h3></a>
                        <a href="/links/"><h3>links</h3></a>
                </div>
            </div>
            <div class="right" id="right">
                {{ content | safe }}
            </div>
        </div>
    </div>
    <script src="/js/visitorandupdated.js"></script>
    <script src="/js/clockandweather.js"></script>
    {# check for internal or external links in .right #}
    <script>
    document.addEventListener('DOMContentLoaded', markExternalLinks);

    function markExternalLinks() {
        const links = document.querySelectorAll('a[href]');
        const localHost = window.location.hostname;

        links.forEach(link => {
            const href = link.getAttribute('href');
            let url;
            //make a new url object to compare hosts with
            url = new URL(href, window.location.origin);

            if (url.hostname !== localHost) {
                link.classList.add('external');
                // https://coreui.io/blog/how-to-open-all-links-in-new-tab-using-javascript/
                link.setAttribute('target', '_blank');
            }
        });
    }
    </script>
</body>
</html>