<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/{{cssFile}}">
    <title>chronodove | {{ title }}</title>
</head> 
<body>
    <div class="wrapper">
        <div class="container">
            <div class="left">
                <div id="icon">
                    <img src="/images/icon.jpg" alt="a white betta fish">
                </div>
                <div id="text">
                    <i><h2>chronodove</h2></i>
                    <span style="text-decoration: underline;"> <b>views:</b> <span id="hitcount"></span></span>
                    <br>
                    <span style="text-decoration: underline;"> <b>last updated:</b> <span id="lastupdate"></span></span>
                    <br>
                    <span style="text-decoration: underline;"> <b>created on: </b><span id="created"></span></span>
                </div>
                <script src="/js/visitorandupdated.js"></script>
                <div id="nav">
                    <a href="/"><h3>home</h3></a>
                    <hr>
                    <h2>writing:</h2>
                    <a href="/about/"><h3>about</h3></a>
                    <a href="/diary/"><h3>diary</h3></a>
                    <a href="/dreams/"><h3>dream log</h3></a>
                    <hr>
                    <h2>hobbies:</h2>
                    <a href="/baking/"><h3>baking</h3></a>
                    <a href="/cooking/"><h3>cooking</h3></a>
                    <a href="/crochet/"><h3>crochet</h3></a>
                    <a href="/photography/"><h3>photography</h3></a>
                    <a href="/sewing/"><h3>sewing</h3></a>
                    <hr>
                    <h2>extra:</h2>
                    <a href="/credits/"><h3>credits</h3></a>
                    <a href="/links/"><h3>links</h3></a>
                </div>
            </div>
            <div class="right">
                {{ content | safe }}
            </div>
        </div>
    </div>
</body>
</html>