{% macro field(imageName, name, designer, price, scent, like, thought) %}
<div class="entry">
<img src="/images/perfume/{{imageName}}" class="float-right">

__<u>name:</u>__ {{name}}

__<u>designer:</u>__ {{designer}}

__<u>price:</u>__ ${{price}}

__<u>scent:</u>__ {{scent}}

__<u>like:</u>__  {{like}}/5

__<u>thoughts:</u>__ {{thought}}
</div>
{% endmacro %}
