@font-face {
    font-family: DeathToMetal;
    src: url(fonts/DeathtoMetal.ttf);
}

@font-face {
    font-family: WhoAsksSatan;
    src: url(fonts/who\ asks\ satan.ttf);
}

@font-face {
    font-family: SweetHelloween;
    src: url(fonts/SWEET\ HELLOWEEN\ Personal\ Use\ only.otf);
}

#popup {
    font-family: 'MS Gothic', monospace;
}

body {
    background-image: url(https://files.catbox.moe/w3enr4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    font-family: 'MS Gothic', monospace;
    display: flex;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    padding: 10px;
    align-content: center;
    align-items: center;
    gap: 40px;
}

.buttons {
    width: 40%;
    height: fit-content;
}

.left {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    
}

.left img {
    border: 7px white inset;
}

.nav{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 94%;
    padding: 10px;
}


.content {
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 300px;
    border: 30px solid transparent;
    border-image: url("https://files.catbox.moe/d0mvgv.png") 26 round;
    border-image-outset: 28px 28px;
    overflow: scroll;
    scrollbar-width: none;
}

.content h1 {
    font-family: 'SweetHelloween', monospace;
    font-size: 100px;
    margin: 0 0 0 0;
}

button {
    font-family: 'MS Gothic', monospace;
}