.wrapper {
    display: flex;
    gap: 2%;
    align-items: center;
}

#dog img {
    width: 100%;
    height: auto;
    image-rendering: crisp-edges;
}

.articles {
    width: 100ch;
    height: 33rem;
    overflow: scroll;
    scrollbar-width: none;
    padding: 0.5%;
    color: black;
    background-color: aliceblue;
    border: 20px solid transparent;
    border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
    background-clip: padding-box;
}

.articles img {
    width: 100%;
    height: auto;
}