.info {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lb-content {
    max-width: 80%;
    max-height: 80%;
}

#lightbox-caption {
    color: var(--text-color);
    text-align: center;
    text-decoration: underline;
}

#close {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
}

#gallery {
    width: 100%;
    height: 10rem;
    background-color: aliceblue;
    padding: 0.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 20px solid transparent;
    border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
    background-clip: padding-box;
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
}

#gallery img {
    width: 18%;
    height: auto;
    border: 2px solid transparent; 
    box-shadow: 0 0 0px transparent; 
    transition: border 0.5s ease-out, box-shadow 0.5s ease-out; 
}

#gallery img:hover {
    border-color: brown; 
    box-shadow: 0 0 10px rgba(165, 42, 42, 0.8); 
}

#images {
    width: 100%;
    height: 100%;
}

.log {
    width: 100%;
    height: 10rem;
    background-color: aliceblue;
    padding: 0.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 20px solid transparent;
    border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
    background-clip: padding-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

#log {
    width: 10rem;
    height: 5rem;
    overflow: scroll;
    padding: 0.5%;
    border: 2px dashed black;
}

#log li {
    list-style-type: lower-roman;
}
.about {
    width: 10rem;
    height: 5rem;
    border: 2px dashed black;
    overflow: scroll;
    padding: 0.5%;
}