/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
/* end fonts */

:root {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
  cursor: crosshair;
}
/* highlight color */
::selection {
  background-color: brown;
  color: white;
}

/* navigation */
.nav {
  display: flex;
  gap: 2%;
  cursor: crosshair;
  width: 100%;
  flex-wrap: wrap;
}
/* links */
a {
  letter-spacing: 0px;
  transition: all 1s ease;
  cursor: crosshair;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: crimson;
}

a:hover {
  transition: all 1s ease;
  letter-spacing: 8px;
  cursor: crosshair;
}
/* end links */