/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
/* end fonts */

:root {
  font-family: "MS PGothic", "Kosugi", "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
  cursor: crosshair;
  --light: #ffffff;
  --dark-grey: #333333;
  --sepia: #ede9dc;

}

/* theme switcher */
.theme-switches{
  width: 20pc;
  height: 1rem;
  border: 2px solid;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2%;
  
}

#switch-1 {
  width: fit-content;
  margin-top: 0.5%;
  background-color: var(--dark-grey);
}

#switch-2 {
  width: fit-content;
  margin-top: 0.5%;
  color: #000000;
  background-color: var(--light);
}

#switch-3 {
  width: fit-content;
  margin-top: 0.5%;
  color: #7a6202;
  background-color: var(--sepia);
}

/*wrapper*/
.wrapper {
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
}

/* responsiveness */
@media screen and (max-width: 800px){
  .wrapper {
    flex-wrap: wrap;
  }
}
/* end wrapper*/

/* highlight color */
::selection {
  background-color: rgb(0, 0, 0);
  color: white;
}
/*  end highlight color */

/* loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 1;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 4rem;
  height: 4rem;
  border: 4px solid white;
  border-top-color: brown;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/* end loader */

/* navigation */
.nav {
  display: flex;
  gap: 2%;
  cursor: crosshair;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.nav a:hover {
  transition: all 0.5s ease-in-out;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,10px);
  }
}
/* end navigation */

/* header */
h1 {
  letter-spacing: 0px;
  transition: all 0.5s ease;
  cursor: crosshair;
}

h1:hover {
  transition: all 1s ease;
  letter-spacing: 8px;
  cursor: crosshair;
}
/* end header */

/* links */
a {
  letter-spacing: 0px;
  transition: all 1s ease;
  cursor: crosshair;
  background-color: none;
  border-radius: 10px;
}

a:link {
  color: white;
}

a:visited {
  color: crimson;
}

a:hover {
  transition: all 1s ease;
  cursor: crosshair;
}
/* end links */