.main {
	width: 100ch;
	height: 30em;
	overflow: scroll;
	scrollbar-width: none;
	padding: 0.5%;
    color: black;
    background-color: aliceblue;
    border: 20px solid transparent;
    border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
    background-clip: padding-box; 
}

.divide {
	width: 100ch;
	height: auto; 
	background-image: url("https://i.postimg.cc/Xvy8hw8D/235aabb0-original.png");
	background-repeat: repeat-x;
}