.wrapper {
    flex-direction: column;
}
.img-grid {
    display: grid;
    width: 46rem;
    height: 40rem;
    overflow: scroll;
	scrollbar-width: none;
	padding: 1%;
    grid-template-columns: repeat(5,9rem);
    grid-template-rows: repeat(5,9rem);
    grid-auto-flow: auto;
    grid-auto-columns: auto;
    justify-content: center;
    gap: 1%;
    border: 20px solid transparent;
    border-image: url("https://i.postimg.cc/FK0v9X1M/5XuhKuq.png") 35 round;
    background-clip: padding-box;
}

.image {
    border: 3px white solid;
    box-shadow: 0 0 0px transparent; 
    transition: border 0.3s ease-out, box-shadow 0.3s ease-out; 
}

.image:hover {
    border-color: brown; 
    box-shadow: 0 0 20px rgba(165, 42, 42, 0.8); 
    
}

.image img {
    width: 100%;
    height: 100%;
}

/* lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: var(--back-color);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#close {
    cursor: pointer;
    padding: 1%;
    color: var(--text-color);
    transition: color 0.3s ease-in;
}

#close:hover {
    color: brown;
}

.lb-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.img-container {
    width: fit-content;
    height: auto;
}

#caption {
    text-align: center;
    color: white;
}

#censored {
    text-align: center;
}

#censored img {
    filter: blur(70%);
}

#display {
    max-width: fit-content; 
    height: fit-content;
}