.banner {
  width: 100%;
  height: 10rem;

  font-family: "Bleeding_Cowboys", "RS_Xi", 'Times New Roman', Times, serif;
  line-height: 10rem;
  text-align: center;

  background-image: url("https://images2.imgbox.com/03/02/R5sSeTEb_o.jpg");
  background-size: cover;
  transition: 0.5s ease;

  border: double;
}

.banner:hover{
  background-position: 70%;
  transition: 0.5s ease;
}

.banner h1 {
  display: inline;
  vertical-align: middle;
  line-height: normal;

  font-size: 4rem;
  font-weight: lighter;

  letter-spacing: 1.5rem;
  transition: 0.5s ease;
}

.banner h1:hover {
  letter-spacing: 2.5rem;
}

.status-bar {
  width: 100%;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 1%;
}

.marquee {
  border: double;
  width: 26rem;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee p {
  display: inline-block;
  white-space: nowrap;
  width: max-content;
  padding-left: 100%;

  animation: marquee 15s linear infinite;
}

.marquee p:hover {
  animation-play-state: paused;
}

.update-text{
  width: 8rem;
  border: double;

  display: flex;
  justify-content: center;
  align-items: center;

}

.update {
  flex-grow: 1;
  display: flex;
  width: 1%;
  text-wrap: none;
  align-items: center;
  padding: 0.5%;

  border: double;

  overflow-x: scroll;
  scrollbar-width: none;
}


@keyframes marquee {
  0% { transform: translateX(40%); }
  100% { transform: translateX(-100%); }
}

.nav {
  width: 8rem;
  height: 30rem;

  text-align: center;

  border: double;
}

.nav ul {
  display: inline;
  list-style-type: none;
}

.nav img {
  max-width: 100%;
  height: auto;
}

iframe {
  flex-grow: 1;
  height: 30rem;
  
  border: double;
}

.footer {
  flex: 1 1 100%;

  width: auto;
  height: min-content;

  border: double;

  text-align: center;
}