/* cursor */
.cursor {
  animation: blink 1s step-start 0s infinite
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* end cursor */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

 .wrapper a {
  color: black;
} 

.doggy {
  background-image: url("https://i.postimg.cc/2jH6pWt0/poor-doggy.png");
}

/* box1 */
.box1 {
  width: 100ch;
  height: 30rem;
  background-color: aliceblue;
  padding: 0.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  border: 20px solid transparent;
  border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
  background-clip: padding-box;
}

#divider {
  background-image: url('https://i.imgur.com/VJTCtS4.gif');
  width: 100%;
  height: 5%;
}

.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

.button img {
  filter: saturate(0%);
  transition: .25s ease-out;
}

.button:hover img {
  filter: saturate(100%);
  transition: .25s ease-in;
}

#copyAlert {
  display: none;
}

/* end box1 */

/*box 2*/
.box2 {
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 100ch;
  height: 30rem;
  padding: 0.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
/* end box2 */


/* theme switcher */
.theme-switches{
  width: auto;
  height: auto;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2%;
  border: 20px solid transparent;
  border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
  background-clip: padding-box;
  overflow: scroll;
  scrollbar-width: none;
  background-color: aliceblue;
  color: black;
}

/* updates */
.updates {
  flex-grow: 1;
  height: 30%;
  border: 20px solid transparent;
  border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
  background-clip: padding-box;
  padding: 1%;
  overflow: scroll;
  scrollbar-width: none;
  background-color: aliceblue;
  color: black;
}

.updates a {
  color: var(--link-color);
}

li {
  list-style-image: url("https://i.imgur.com/BHg4LHY.gif");
}

/* widgets */
#widgets {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 2%;
  height: 30%;
  border: 20px solid transparent;
  border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
  background-clip: padding-box;
  padding: 1%;
  background-color: aliceblue;
  overflow: scroll;
  scrollbar-width: none;
}

#widgets a {
  color: var(--link-color);
}

/* UNUSED CONTENT */

/*float animation*/
/* @keyframes float {
  0% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(0,-30px);
  }
} */