/* fonts */

/* @import url(https://db.onlinewebfonts.com/c/175470f4c60acca7da5056f77929e0ba?family=Sepian);  */

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

/* banner font */
 @font-face {
  font-family: Bleeding_Cowboys;
  src: url(fonts/Bleeding_Cowboys.ttf);
} 

/* overall font */
@font-face {
    font-family: RS_Xi;
    src: url(fonts/RS_Xi.ttf);
}
  
  /* variables */
:root {
    --bg: #100E11;
    --txt: #ffffff;
    --accent: #a52a2a;
}

* {
  scrollbar-width: none;
}

::selection {
  color: var(--bg);
  background-color: var(--txt);
}

a {
  font-style: normal;
  color: var(--txt);
}

a:visited, a:hover{
  transition: 0.3s ease;
  color: var(--accent);
}

a:visited, a:hover{
  font-style: italic;
}

body {
    font-family: "Markazi Text", 'Times New Roman', Times, serif;
    background-color: var(--bg);
    color: var(--txt);
    cursor: crosshair;
    font-size: 19px;
}
  
/* loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1;
}
  
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}
  
.loader::after {
    content: "";
    width: 4rem;
    height: 4rem;
    border: 6px solid var(--txt);
    border-top-color: var(--accent);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
  
@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
}
  
  /* main wrapper */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    gap: 1rem;

    max-width: 55rem;
    height: max-content;
    padding: .5%;

    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

/* details */
details[open] > summary {
    list-style-type: '✶ ';
    transition: all 1s ease;
}

summary {
	  list-style-type: '➤ ';
	  font-size: 1rem;
    transition: all 1s ease;
}