@font-face {
    font-family: Alagard;
    src: url(fonts/alagard.ttf);
  }

:root {
    font-family: 'MS Gothic', monospace;
    cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto !important;
    background-image: url(https://i.imgur.com/NPLAy14.gif);
}

.header {
    text-align: center;
    font-size: xx-large;
    color: rgb(255, 252, 252);
    transition: all 1s ease;
    font-family: 'Alagard', 'MS Gothic', monospace;
    height: fit-content;
    width: 1000px;
    border: 2px solid black;
    margin: 0 auto;
    background-image: url(https://i.imgur.com/YIDTlAL.jpg);
}

.header:hover {
    letter-spacing: 7px;
    color: rgb(0, 0, 0);
    transition: all 1s ease;
}

.nav {
   background-color: rgb(255, 255, 255);
   border: 2px solid black;
   width: 980px;
   margin: 0 auto;
   text-align: center;
   padding: 10px;
}

.container {
    width: 1000px;
    height: 900px;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}


/* side */

.side {
    width: 200px;
    background-color: rgb(201, 201, 201);
    text-align: center;
    overflow: scroll;
    scrollbar-width: none;
    padding: 10px;
    height: 100%;
}

.side img {
    width: 100%;
    border-radius: 5%;
    transition: all 1s ease;
    opacity: 1;
}

/* image fade */

#pfp:hover {
    opacity: 50%;
    transition: all 1s ease;
}

.pfp {
    background-color: rgb(100, 0, 0);
    transition: all 1s ease;
    border-radius: 5%;
    width: 200px;
    height: 219.183px;
}

/* end image fade */

#copyAlert {
    display: none;
}

/* end side */

/* middle */
.middle {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 540px;
    text-align: center;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    height: 100%;
}

.middle::-webkit-scrollbar { 
    display: none;
}

/* updates and todo */
.updates {
    height: 250px;
    padding: 5px;
    width: 529px;
    display: flex;
    gap: 7px;
    scrollbar-width: none;
  }
  
  #update {
    overflow: scroll;
    border-style: groove;
    height: 100%;
    background: white;
    width: 100%;
    scrollbar-width: none;
  }
  
  .todo {
    overflow: scroll;
    border-style: groove;
    height: 100%;
    background: white;
    width: 100%;
  }

/* middle */

/* side 2 */
.side2 {
    width: 200px;
    background-color:  rgb(201, 201, 201);
    padding: 10px;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: center;
    align-items: center;
}
/* end side 2 */

footer {
   background-color: white;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    height: 15px;
}
/* gadgets and stuff */

/* text fade*/
.fade {
    opacity: 0;
    transition: all 2s ease;
}

.fade:hover {
    opacity: 1;
    transition: all 2s ease;
}

#statuscafe {
    padding: .5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid midnightblue;
    text-align: justify;
    margin: 0 auto;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
#imood {
    width: 50%;
    object-fit: contain;
}