.dog {
    color: white;
}
.writing-grid {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    gap: 2%;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.writing-nav {
    display: flex;
    margin-bottom: 2%;
    width: 30rem;
    height: 3rem;
    gap: 2%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    cursor: pointer;
    color: var(--text-color);
}

.writing-nav b:hover {
    color: brown;
}

.box {
    width: 10rem;
    height: 10rem;
    padding: 1%;
    background-color: aliceblue;
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 20px solid transparent;
    border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
    background-clip: padding-box;
}


#popup {
    display: none;
    position: absolute;
    left: 0; 
    right: 0; 
    top: 5%;
    margin-left: auto; 
    margin-right: auto; 
    z-index: 100;
    padding: 1%;
    width: 40rem;
    height: 50rem;
    background-color: aliceblue;
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 20px solid transparent;
    border-image: url("https://i.imgur.com/5XuhKuq.png") 35 round;
    background-clip: padding-box;
}

.popup-content {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 1%;
    width: 30rem;
    height: 50rem;
    text-align: left;
}

.popup-content img {
    max-width: 100%;
    height: auto;
}

.close-btn {
    color: #aaa;
    float: left;
    font-weight: bold;
    cursor: pointer;
}
  
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
