#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;


    background-color: rgba(0, 0, 0, 0.678);


    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#modal img {
    width: 50%;
    height: auto;

    border: 4px solid var(--bg);
}


h3 {
    width: max-content;
    height: auto;

    text-align: center;

    padding: 1%;

    background-color: var(--bg);
    color: var(--txt);
}

.grid {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1ch;
}


.grid img {
  width: 30%;
  height: fit-content;
  filter: grayscale(100%);

  border: 2px solid var(--accent);
  transition: all 0.25s ;
}

.grid img.censor {
  filter: grayscale(100%) blur(3px);
  transition: all 0.25s;
}

.grid img.censor:hover {
  filter: grayscale(0%) blur(0px);
}

.grid img:hover {
  filter: grayscale(0%);
}

button {
    width: 50px;
    height: 50px;
}

hr {
    margin: 1ch 0 1ch 0;
}

.buttons {
  width: 40px;
  height: 40px;
}