h1 {
    display: block;
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    padding: 3px;
    background: linear-gradient(90deg,var(--accent) 60%, var(--bg) 80%);
    color: var(--bg);
}

hr {
    margin-top: 1ch;
    margin-bottom: 1ch;
}
