h1 {
    display: block;
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    padding: 3px;
    background: linear-gradient(90deg,var(--accent) 60%, var(--bg) 80%);
    color: var(--bg);
}

hr {
    margin-top: 1ch;
    margin-bottom: 1ch;
}

.entry::after {
    content: "";
    display: block;
    clear: both;
}

img {
    display: block;
    width: 40%;
    height: auto;
}

img.float-right {
    display: unset;
    float: right; 
    margin-left: 1ch;

}

img.float-left {
    display: unset;
    float: left;
    margin-right: 1ch;
}

pre {
    display: block;
    max-width: 100%;
    padding: 1em 1.5em;
    margin-bottom: 1.6em;
    
    overflow: auto;
    word-wrap: break-word;
    page-break-inside: avoid;
    
    font-family: monospace;
    line-height: 1.6;
    
    background: #f4f4f4;
    color: var(--txt);
    border-left: 3px solid var(--accent);
    border: 1px solid #ddd;
}

a {
    color: #43505d;
    transition: all 0.25s;
    transform: translateY(0px);
    font-weight: 700;
}

a:active {
    transform: translateY(3px);
}