h1 {
    display: block;
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    padding: 3px;
    background: linear-gradient(90deg,var(--accent) 60%, var(--bg) 80%);
    color: var(--bg);
}

hr {
    margin-top: 1ch;
    margin-bottom: 1ch;
}

img {
    width: 40%;
    height: auto;
}

img.float-right {
    float: right; 
    margin-left: 1ch;

}

img.float-left {
    float: left;
    margin-right: 1ch;
}

a::after {
    content: '⤴';
}