@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root {
    --bg: #eae9e9;
    --txt: #404446;
    --accent: #575e64;
}

* {
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

*::-webkit-scrollbar {
    display: none;
    width: 0px;
}

body {
    font-family:  Helvetica, sans-serif, serif;                                            
    font-size: 12px;
    color: var(--txt);
    text-align: justify;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: crosshair;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1%;
}

.container {
    width: 600px;
    height: 520px;

    background-color: var(--bg) !important;

    display: flex;
    gap: 2%;
    padding: 1%;
    

    border: 12px solid transparent;
    border-image: url("/images/laceborder.png") 12 round;
    border-image-slice: 30;
    background-clip: padding-box;
}

.left {
    width: 140px;
    flex-shrink: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2%;

    /* background: #000; */
}

.right {
    flex-grow: 1;
    height: 100%;

    padding: 1%;

    border: double 3px var(--txt);

    text-align: justify;

    overflow-y: scroll;
}

#icon img {
    width: 100%;
    height: auto;

    border: double 3px var(--txt);
}

#text {
    width: 100%;
    height: auto;

    text-align: center;
    padding: 1px;

    border: double 3px var(--txt);
}

#hitcount, #lastupdate {
    text-decoration: none !important;
}

#nav {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 2%;

    border: double 3px var(--txt);

    overflow-y: scroll;
    word-break: break-all; 
}

.right p {
    margin-bottom: 1em;
}


.right h3 {
    text-decoration: underline;
}

a {
    color: #43505d;
    transition: all 0.25s;
}

a[rel="external"]::after {
    content: '⤴';
}

a[rel="internal"]::after {
    content: unset;
}

.left a::after {
    content: unset;
}

a:visited {
    color: var(--accent);
}

a:hover {
    letter-spacing: 3px;
    transition: all 0.25s;
}

li::marker {
  font-size: 12px;  
}

.right #title {
    display: block;
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    padding: 3px;
    background: linear-gradient(90deg,var(--accent) 60%, var(--bg) 80%);
    color: var(--bg);
}

#header-text {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#updates {
    width: 100%;
    height: 200px;

    padding: 1%;

    color: var(--txt);
}


#updates li::marker {
    content: "∴ ";
    font-weight: 800;
}

#con {
    display: flex;
    flex-direction: column;
    gap: 1ch;

    width: 100%;
    height: 100%;

    justify-content: space-between;
}

#small {
    width: 100%;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    gap: 2%;

    overflow: scroll;

    padding: 1%;
}

button {
    margin: 0;
    padding: 0;

    text-align: center;

    border: 3px solid var(--bg);
    color: var(--bg);
    background-color: var(--txt);

    transition: all 0.25s;

}

button:hover {
    border: 3px solid var(--txt);
    color: var(--txt);
    background-color: var(--bg);

    transition: all 0.25s;
}

table {
    float: right;
}
