@font-face {
    font-family: "Unifont Ex Mono";
    src: url("/css/UnifontExMono.ttf");
}

:root {
    --bg: #eae9e9;
    --txt: #404446;
    --accent: #575e64;
}

* {
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

*::-webkit-scrollbar {
    display: none;
    width: 0px;
}

body {
    font-family:  "Unifont Ex Mono", Helvetica, sans-serif;                                            
    font-size: 12px;
    color: var(--txt);
    text-align: justify;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: crosshair;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1%;
}


.container {
    width: 50rem;
    height: 40rem;

    background-color: var(--bg) !important;

    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 1%;

    border: 12px solid transparent;
    border-image: url("/images/laceborder.png") 12 round;
    border-image-slice: 30;
    background-clip: padding-box;
}

.row {
    display: flex;
    flex-grow: 1;
    gap: 2%;
    height: 100%;
    min-height: 0;

}

.left {
    width: 200px;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
 
    border: 2px solid var(--accent);
}

nav {
    flex-grow: 1;
    overflow-y: scroll;
}

#settings {
    overflow-y: scroll;
    height: 170px;
    flex-grow: 0;
}

.right {
    border: 2px solid var(--accent);
    padding: 1%;
    width: 100%;
    overflow-y: scroll;
    min-height: 0;
}

a {
    color: #43505d;
    transition: all 0.25s;
    transform: translateY(0px);
    font-weight: 700;
}

.external::after {
    content: ' ⤴︎' !important;
}

a:visited {
    color: var(--accent);
}

a:hover {
    letter-spacing: 3px;
    transition: all 0.25s;
}

a:active {
    transform: translateY(3px);
}

.left span {
    width: fit-content;
    padding: 1%;
    transition: all 0.25s;
}

.left span:hover {
    background-color: var(--txt);
    color: var(--bg);
    transition: all 0.25s;
}

#title {
    width: 100%;
    height: auto;
    padding: 3px;
    background: linear-gradient(90deg,var(--accent) 60%, var(--bg) 80%);
    color: var(--bg);
}

hr {
    margin-top: 1ch;
    margin-bottom: 1ch;
}

p {
    margin-bottom: 1ch;
}

pre {
    display: block;
    max-width: 100%;
    padding: 1em 1.5em;
    margin-bottom: 1.6em;
    
    overflow: auto;
    line-break: normal;
    word-wrap: break-word;
    
    font-family: monospace;
    line-height: 1.6;
    
    background: #f4f4f4;
    color: var(--txt);
    border-left: 3px solid var(--accent);
    border: 1px solid #ddd;
}

p code {
    font-family: monospace;
    background: #f4f4f4;
    color: var(--txt);
    border-left: 3px solid var(--accent);
    border: 1px solid #ddd;
}

::selection {
    background-color: var(--highlight);
}

h1{
    margin-bottom: 1ch;
}

#panel img {
    width: 100%;
}

#panel {
    text-align: left;
}