:root {
    --bg: #eae9e9;
    --txt: #404446;
    --accent: #575e64;
}

* {
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

*::-webkit-scrollbar {
    display: none;
    width: 0px;
}

body {
    font-family:  Helvetica, sans-serif;                                            
    font-size: 12px;
    color: var(--txt);
    text-align: justify;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: crosshair;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1%;
}


.container {
    width: 50rem;
    height: 40rem;

    background-color: var(--bg) !important;

    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 1%;

    border: 12px solid transparent;
    border-image: url("/images/laceborder.png") 12 round;
    border-image-slice: 30;
    background-clip: padding-box;
}

.row {
    display: flex;
    flex-grow: 1;
    gap: 2%;
    height: 100%;
    min-height: 0;

}

.left {
    width: 200px;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
    border: 2px solid var(--accent);
}

nav {
    flex-grow: 1;
    overflow-y: scroll;
}

#settings {
    overflow-y: scroll;
    height: 170px;
    flex-grow: 0;
}

.right {
    border: 2px solid var(--accent);
    padding: 1%;
    width: 100%;
    overflow-y: scroll;
    min-height: 0;
}

a {
    color: #43505d;
    transition: all 0.25s;
}

a[rel="external"]::after {
    content: '⤴';
}

a[rel="internal"]::after {
    content: unset;
}

a:visited {
    color: var(--accent);
}

a:hover {
    letter-spacing: 3px;
    transition: all 0.25s;
}

li::marker {
    content: "∴ ";
    font-weight: 800;
}

.left span {
    width: fit-content;
    padding: 1%;
    transition: all 0.25s;
}

.left span:hover {
    background-color: var(--txt);
    color: var(--bg);
    transition: all 0.25s;
}

#title {
    width: 100%;
    height: auto;
    padding: 3px;
    background: linear-gradient(90deg,var(--accent) 60%, var(--bg) 80%);
    color: var(--bg);
}

hr {
    margin-top: 1ch;
    margin-bottom: 1ch;
}